@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro-section {
  animation: fadeIn 1s ease-in-out;
}

.experience-timeline {
  animation: slideIn 1s ease-in-out forwards;
}

.project-list {
  animation: fadeIn 1s ease-in-out;
}

.hobbies-section {
  animation: slideIn 1s ease-in-out forwards;
}

.lottie-animation {
  width: 100%;
  height: auto;
}